ex6/twitter-datasets/
road_segmentation/training/
road_segmentation/test_set_images/
road_segmentation/test_set_images_filtered/
road_segmentation/predictions_training/
road_segmentation/predictions_test/
road_segmentation/datafiles/
road_segmentation/temp.py
road_segmentation/*submission.csv
*.pkl
